/* #main {
    ;
  } */

  body {
      font-family: 'Times New Roman', Times, serif;
      background-color: bisque;
      padding: 0px;
      margin: 0px;
      display: flex;
  }
  
  #img-div{
      background-color: white;
      margin: 15px;
      padding: 15px;
      text-align: center;
      font-size: 15px;

  }
img{
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.center{
    display: block;
}
h1, h2, h3{
    text-align: center;
    margin-bottom: 15px;
}
ul{
    width: 80%;
    margin: 0 auto;
    padding: 0 10%;
}
li{
    margin-bottom: 15px;
    font-size: 1.1em;
    text-align: justify;
    line-height: 1.5;
    font-weight: normal;
    color: rgb(80, 77,77);
}
li span{
    font-weight: bold;
}

#tribute-link{
    text-decoration: none;
    cursor: pointer;
}

.value1, .value{
    font-style: italic;
    font-size: 1.1em;
    text-align: left;
    padding-left: 10%;
}